/* Style de la page contact */
body{
	margin: auto;
}
body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(../img/banniere10.svg);
    background-position-y: 115px;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */     

}
#lateral {
	height : 670px; 
}

/* STYLE DE LA PARTIE CENTRALE */
#principal {

	padding-top : 10px;
	padding-bottom : 10px;
	height : 720px;
}

#contact {
    margin: 0 auto;
    margin-top: 5%;
    width: 70% ;
    vertical-align: middle;
    background-color: #EEE3CE;

}
#fb,#insta,#tk {

    width : 30px;
    flex: auto;
    margin-top: 20px;
    margin-right: 45%;
}

#nomreseau{
    margin-left: 80px;
    margin-top: -7.5%;
    color: black;
}
#nomreseau:hover{
    text-decoration: none;

}

#text{


    vertical-align: middle;
    width: 430px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    float: right;
    margin-right: 75px;
}


#titre{
    background-color:#EEE3CE ;

    width: 400px;
    height: 40px;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 36%;
    text-align : center;
    vertical-align: middle;
    line-height: 40px;

}



#contact h4 {
	text-align : center;
}


input[type="text"], select, textarea, input[type="date"] {
    padding: 0.5em 0.5em;
    border: 0;
    margin-top: 15px;
    background-color: #D1DAD6;  
}


.nom, .prenom, .message, .objet, .metier, .genre, .date, .mail{
    position: relative;
    margin: 0 0 1em 1em;
    padding : 5px;
}


label {
	color:black;
    padding: 0.4em .9em;
    font-weight : initial;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.1s; 
    margin-top: 15px;
}

#label_message{
    margin-top: -3px;
}
#label {
	color:black;
    padding: 0.4em .9em;
    font-weight : bold;
}

input:focus ~ label,input:valid ~ label {
    top: -1.4em;  
}

select:focus ~ label, select:valid ~ label {
    top: -1.4em; 
}

textarea:focus ~ label , textarea:valid ~ label{
    top: -1.4em; 
}

input[type="submit"] {
    color: #FFFFFF;
    padding: .8em 3em;
    font-size: .6em;
    margin: 1em;
    cursor: pointer;
    background: #698F7D;
    border: 2px solid white;
	right: -70px;
    transition: all 0.3s;
    text-align : center;
    border-radius: 10px;

}
input[type="submit"]:hover  {
	background: none;
	color : black; 
    border: 2px solid #1A251D;
}



