/* STYLE DU HEADER */
	header {
		background-color:#E7E7E7;
		padding : 1px;
 		width: 100%;
		height: 115px; 
		background-repeat:no-repeat;
		color: #698F7D;
	}

	#logo {
		margin-top : -20px;
		float : left; 
		width : 200px;
		flex: auto;
	}
	#personnel{
		float:right;
		flex:auto;
		width:55px;
		margin-top: 40px;
		margin-right: 15px;
	}
	
	header #titre {
		width : 300px;
	}
	
	#header_titre, #horizontal {
		margin-left : 300px;
		margin-right : 300px;
		text-align : center;
	}

	#horizontal:hover{
		font-weight : bold;
		color : #0e0302;
		transition: .3s;
	}
nav #horizontal{
	display: flex;
	flex-direction : row;
	justify-content: center;
	flex-basis: 120%;
}
		
	#horizontal {
		font-size : 1.3em;
		margin-top: 5%;
		text-align : center;
		font-weight: bold;
	}
	
	#horizontal ul {
		padding : 0px;
	}

	#horizontal li {
	


		list-style-type: none;
	}

	#horizontal a {
		text-decoration: none;
		display: block;
		color: #698F7D;
		
	}
	
	.header-links {
		margin-top : 20px;
		float : right;
	}
	
	.header-links a{
      
	  text-decoration: none;
	  padding: 1rem;
	  font-size: 1.5rem;
  

	}
	.header-links a:hover{
			text-decoration : underline;
	}

	nav ul li
	{
	 margin:0 40px; 
	}


/* STYLE DU FOOTER */
	footer {
		background-color:rgb(236, 236, 236); ;
		font-size : 1.3em;
		font-weight: bold;	; 
		padding-top : 30px;
		text-align : center;
		color: #698F7D;
	}

	
	.information {
		display : inline-block;
		width : 1000px;
		padding-bottom : 10px;
	}
	
	.information div {
		width:33.33%;
		height : auto; 
		display: inline-block;
		margin-right: -0.25em;
	}
	.information a{
		padding-left:10px;
		color : #698F7D;
		text-decoration: none;
	 }
	 
	 .information a:hover{
			text-decoration : underline;
			color : rgb(1, 1, 2);
	}
	
	#nos_mail {
		text-align : left;
	}


		
	#horizontal2 {
		font-size : 1em;
		display: flex;
		padding:0; 
		justify-content:flex-start;
	}
	

	#horizontal2 li {
		display:inline;

		width: 10%;
		list-style-type: none;
	}

	#horizontal2 a {
		text-decoration: none;
		display: block;
		min-width: 120px;
	}
	
	#horizontal2 ul {
		margin:0;
		padding:0;
		list-style-type:none;
		text-align:center;
		}
	#horizontal2 li {
		float:left;
		margin:auto;
		padding:0;
		}
	#horizontal2 li a {
		display:block;
		width:100px;
		text-decoration:none;
		padding:5px;
		}
	#horizontal2 li a:hover {
		color:black;
		}
	#horizontal2 ul li ul {
			display:none;
			}